name: Build AmneziaWG for NanoPi R3S (SDK .zst)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download ImmortalWrt SDK (.tar.zst)
        run: |
          FILE="immortalwrt-sdk-24.10.4-rockchip-armv8_gcc-13.3.0_musl.Linux-x86_64.tar.zst"
          wget "https://downloads.immortalwrt.org/releases/24.10.4/targets/rockchip/armv8/$FILE"
          tar -I unzstd -xf "$FILE"
          mv immortalwrt-sdk-24.10.4-rockchip-armv8* sdk

      - name: Fix kernel version (hard lock to 6.6.110)
        run: |
          sed -i 's/^\(LINUX_VERSION-6.6 =\).*/\1 6.6.110/' sdk/include/kernel-version.mk
          sed -i 's/^\(LINUX_KERNEL_HASH-6.6.110 =\).*/\1 skip/' sdk/include/kernel-version.mk

      - name: Copy AmneziaWG package
        run: |
          cp -r package/amneziawg sdk/package/

      - name: Update feeds
        run: |
          cd sdk
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Configure build
        run: |
          cd sdk
          echo "CONFIG_TARGET_rockchip=y" >> .config
          echo "CONFIG_TARGET_rockchip_armv8=y" >> .config
          echo "CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r3s=y" >> .config
          echo "CONFIG_PACKAGE_kmod-amneziawg=y" >> .config
          echo "CONFIG_PACKAGE_amneziawg=y" >> .config
          echo "CONFIG_PACKAGE_amneziawg-tools=y" >> .config
          echo "CONFIG_PACKAGE_luci-proto-amneziawg=y" >> .config
          make defconfig

      - name: Build AmneziaWG packages
        run: |
          cd sdk
          make package/kernel/kmod-amneziawg/compile V=s
          make package/amneziawg/compile V=s
          make package/amnezia
